recipe/sft/__pycache__/
*log
*.zip
verl/utils/reward_score/prime_code/__pycache__/
checkpoints/
.idea/
.vscode/
__MACOSX/
data/
outputs/
recipe/irl/__pycache__/
verl/__pycache__/
verl/models/__pycache__/
verl/models/transformers/__pycache__/
verl/experiments/__pycache__/
verl/experiments/dataset/__pycache__/
verl/single_controller/__pycache__/
verl/single_controller/base/__pycache__/
verl/single_controller/ray/__pycache__/
verl/third_party/__pycache__/
verl/third_party/vllm/__pycache__/
verl/trainer/__pycache__/
verl/trainer/ppo/__pycache__/
verl/utils/__pycache__/
verl/utils/checkpoint/__pycache__/
verl/utils/dataset/__pycache__/
verl/utils/debug/__pycache__/
verl/utils/logger/__pycache__/
verl/utils/reward_score/__pycache__/
verl/utils/reward_score/prime_math/__pycache__/
verl/workers/__pycache__/
verl/workers/actor/__pycache__/
verl/workers/config/__pycache__/
verl/workers/critic/__pycache__/
verl/workers/engine/__pycache__/
verl/workers/reward_manager/__pycache__/
verl/workers/reward_model/__pycache__/
verl/workers/rollout/__pycache__/
verl/workers/rollout/naive/__pycache__/
verl/workers/rollout/vllm_rollout/__pycache__/
verl/workers/sharding_manager/__pycache__/
wandb/
